main.card {
  @apply w-131
  shadow-card
  tablet:w-full;
}

div.top-card-container {
  @apply bg-neutral-white
  px-9
  py-8
  tablet:px-5
  tablet:pt-6
  tablet:pb-8
  rounded-t-lg;
}

div.top-card-container h1 {
  @apply mb-[1.1875rem]
  font-bold
  text-primary-cyan
  text-main-title
  tablet:mb-5;
}

div.top-card-container div strong {
  @apply block
  text-strong-subtitle
  text-primary-bright-yellow
  tablet:mb-3;
}

div.top-card-container div p {
  @apply text-subtitle
  text-neutral-grayish-blue
  tablet:inline
  tablet:text-tablet-subtitle;
}

div.top-card-container div p:first-of-type {
  @apply mt-[0.65625rem];
}

div.bottom-card-container {
  @apply flex
  tablet:flex-col;
}

div.bottom-card-container section {
  @apply w-full
  px-9
  py-7
  tablet:p-5;
}

div.bottom-card-container section h2 {
  @apply text-secondary-title
  tablet:text-tablet-secondary-title;
}

div.bottom-card-container section.left-column {
  @apply bg-primary-cyan
  rounded-bl-lg
  tablet:rounded-none;
}

section.left-column div p {
  @apply mb-5
  text-left-column
  text-neutral-light-gray
  opacity-80
  tablet:text-tablet-left-column;
}

section.left-column div strong {
  @apply flex
  items-center
  text-price
  opacity-100;
}

section.left-column div strong span {
  @apply ml-2.5
  font-normal
  text-xs
  text-neutral-white
  opacity-[0.55]
  tablet:text-time-info;
}

div.bottom-card-container section.right-column {
  @apply bg-primary-light-cyan
  rounded-br-lg
  tablet:rounded-b-lg;
}

section.right-column p {
  @apply text-right-column
  text-neutral-light-gray
  opacity-80
  tablet:text-tablet-right-column;
}

div.bottom-card-container h2 {
  @apply mb-2.5;
}
